/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/space-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/space-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/space-mono-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* CUSTOM PPROPERTIES */

:root{
    --white-color: #ffffff;
    --text-color: #939CAA;
    --title-color:#495567;
    --active-color: #FCB72B;
}

/* GLOBAL */

html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    font-family: "Space Mono", "Arial", sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    overflow-x: hidden;
}
.container{
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.site-header{
    padding-top: 22px;
    padding-bottom: 21px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img{
    display: block;
    margin-right: 58px;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
.nav-item{
    margin-right: 32px;
    white-space: nowrap;
}
.nav-link{
    color: var(--text-color);
}
.nav-link:hover, 
.nav-link:active{
    cursor: pointer;
    color: var(--active-color);
}
.link{
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
}
.btn{
    padding: 14px 39px;
    white-space: nowrap;
    background-color: var(--active-color);
    color: var(--white-color);
}
.btn:hover,
.btn:active{
    padding: 14px 39px;
    white-space: nowrap;
    background-color: transparent;
    color: var(--active-color);
    box-shadow: 0 0 3px 3px var(--active-color) inset;
}


/* HERO SECTION */

.hero{
    background: url("../img/slider-img.jpg") no-repeat;
    background-size: cover;
    padding-top: 152px;
    padding-bottom: 152px;
    margin-bottom: 160px;
}
.hero-title{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--white-color);
}
.hero-text{
    position: relative;
    display: block;
    width: 500px;
}
.hero-text::after{
    content: "";
    position: absolute;
    display: block;
    background: url("../img/slider-dots.png") no-repeat;
    background-size: contain;
    margin-left: 57px;
    top: 270px;
    right: -780px;
    width: 234px;
    height: 63px;
}
.hero-text-btn{
    margin-left: 95px;
    position: relative;
}
.hero-text-btn::before{
    content: "";
    position: absolute;
    background: url("../img/slider-orange-line.svg") no-repeat;
    margin-right: 57px;
    top: 50px;
    left: -250px;
    width: 203px;
    height: 15px;
}
.hero-text-btn::after{
    content: "";
    position: absolute;
    background: url("../img/slider-arrow.svg") no-repeat;
    margin-left: 57px;
    top: 50px;
    left: 400px;
    width: 447px;
    height: 138px;
}
.hero-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: var(--white-color);
}

/* ORDER SECTION */
.order{
    margin-bottom: 200px;
}
.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-column{
    margin: 0;
    width: 350px;
    position: relative;;
}
.order-column:not(:last-child){
    margin-right: 30px;
}
.order-column::before{
    content: "";
    position: absolute;
    width: 96px;
    height: 96px;
    background: ;
    border-radius: 50%;
}
.app::before{
    background: var(--active-color) url("../img/locate-img.png") no-repeat center;
}
.pick::before{
    background: var(--active-color) url("../img/pick-img.png") no-repeat center;
}
.enjoy::before{
    background: var(--active-color) url("../img/enjoy-img.png") no-repeat center;
}
.order-card-title{
    margin: 0;
    padding-top: 136px;
    padding-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
}
.order-card-text{
    margin: 0;
    color: var(--text-color);
}

/* SERVICES SECTION */

.services-container{
    
}
.service-parts{
    position: relative;
    display: flex;
    margin-bottom: 230px;
}
.service-info{
    display: block;
    width: 445px;
}
.title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--title-color);
}
.service-title{
    margin: 0;
    margin-bottom: 24px;
    padding-top: 66px;
}
.service-desc{
    margin-bottom: 40px;
    color: var(--text-color);
}
.service-bg-img{
    position: absolute;
}
.easy-img{
    left: 510px;
    background: url("../img/easy-img.png") no-repeat;
    width: 1070px;
    height: 445px;
}
.coming{
    position: absolute;
    right: 250px;
    background: url("../img/coming-img.png") no-repeat;
    width: 995px;
    height: 445px;
    z-index: -1;
}
.zero-img{
    left: 620px;
    background: url("../img/zero-img.png") no-repeat;
    width: 990px;
    height: 445px;
}

.coming-pos{
    margin-left: auto;
}

/* DONWLOAD SECTION */

.download{
    background: url("../img/footer-bg.png") no-repeat;
    background-size: cover;
}
.download-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 102px 0;
}
.download-title{
    width: 415px;
    margin: 0;
    padding: 0;
    color: var(--white-color);
}
.app-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-dwn-img{
    display: block;
}
.app-store{
    margin-right: 18px;
}

/* FOOTER */

.site-footer{
    background: #333A44;
    padding-top: 35px;
    padding-bottom: 32px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link:not(:last-child){
    margin-right: 24px;
}
.social-img{
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--active-color);
}
.social-img:hover,
.social-img:active{
    fill: #E5ECF4;
}

/* ABOUT PAGE */

/* About Hero */

.about-hero{
    background: url("../img/about-hero-bg.png") no-repeat center;
    background-size: cover;
    padding: 72px 0;
    margin-bottom: 120px;
}
.about-title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--white-color);
}


/* VALUES SECTION */

.values{
    margin-bottom: 120px;
}
.values-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.values-title{
    margin-bottom: 48px;
}
.values-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.values-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-right: 30px;
}
.values-column::before{
    content: "";
    width: 350px;
    height: 350px;
    margin-bottom: 32px;
}
.tech::before{
    background: url("../img/our-tech-img.png") no-repeat;
}
.intregity::before{
    background: url("../img/our-intregity-img.png") no-repeat;
}
.community::before{
    background: url("../img/our-communiy-img.png") no-repeat;
}
.values-column-title{
    margin: 0;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
}
.value-column-text{
    text-align: center;
    color: var(--text-color);
}

/* FAQS SECTION */

.faqs{
    margin-bottom: 160px;
}
.faqs-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.faqs-title{
    margin: 0;
    margin-right: 30px;
    margin-bottom: 64px;
    color: var(--title-color);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
}

.faqs-row{
    display: flex;
    margin-bottom: 60px;
}
.questions-column{
    width: 730px;
}
.question-block{
    margin-bottom: 16px;
    padding: 32px 40px;
    background-color: #F2F5F9;
}
.question-block:hover,
.question-block-title:active{
    background-color: #FFF4DF;
}
.question-block-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.question-block-title::after{
    content: "";
    width: 16px;
    height: 8px;
    background: url("../img/orange-top-arrow-icon.svg") no-repeat;
}
.nondisplay{
    display: none;
}
.mobility{
    left: 510px;
    background: url("../img/mobility-img.png") no-repeat;
    width: 1070px;
    height: 445px;
}
.urban{
    right: 250px;
    background: url("../img/urban-img.png") no-repeat;
    width: 995px;
    height: 445px;
}

/* CAREERS PAGE */

/* VACANCY SECTION */

.mission{
    left: 510px;
    background: url("../img/mission-img.png") no-repeat;
    width: 1070px;
    height: 445px;
}
.vacancy{
    margin-bottom: 160px;
}
.vacancy-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 32px 64px 37px 40px;
    background: #F2F5F9;
}
.vacancy-info{
    margin-right: 20px;
}
.vacancy-info-title{
    margin: 0;
    margin-bottom: 8px;
}
.vacancy-info-text{
    margin: 0;
}

/* LOCATIONS PAGE */

/* LOCATIONS SECTION */

.locations{
    margin-bottom: 120px;
}
.map-img{
    display: block;
    margin-bottom: 120px;
}
.locations-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.locations-title{
    width: 351px;
    margin: 0;
    margin-right: 30px;
}
.locations-text{
    width: 445px;
    margin: 0;
    margin-right: 20px;
    text-align: left;
}